.about {
  display: flex;
  justify-content: center;

  &__container {
    padding-top: 148px;
    padding-bottom: 148px;
    display: flex;
    flex-direction: column;
    max-width: 754px;
  }

  &__title {
    margin-top: 0;
    margin-bottom: 10px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 32px;
    line-height: 150%;
    color: #253757
  }

  &__text {
    margin: 0;
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    font-size: 24px;
    line-height: 150%;
    color: #6c788b
  }
}
