@import "vars";

.content {
  display: flex;
  justify-content: space-between;
  &__info {
    display: flex;
    flex-direction: column;
  }

  &__slider {
    position: absolute;
    bottom: 0;
    right: 0;
  }

  .slider {
    position: relative;
    top: 7px;
    left: 289px;
    width: 687px;
    height: 680px;
    background-image: url("../images/slider/slider-1.svg");
    background-position: center;
    background-size: cover;
    border-radius: 200px 0 0;

    &__arrow {
      position: absolute;
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 72px;
      height: 32px;
      bottom: 66px;
      left: 48px;
    }

    &__intro {
      position: absolute;
      width: 250px;
      height: 68px;
      bottom: 48px;
      left: 144px;
    }

    .intro {
      &__title {
        text-transform: uppercase;
        font-weight: bold;
        letter-spacing: 3px;
        margin: 0 0 8px;
        color: #fff;
      }

      &__text {
        font-family: "Open Sans", sans-serif;
        font-size: 14px;
        line-height: 140%;
        color: #fff;
      }
    }

    .arrow__wrap {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #fff;
      width: 32px;
      height: 32px;
      border-radius: 50%;
      cursor: pointer;
    }

    .arrow__round-arrow {
      width: 6px;
      height: 9px;
      border: 0;
      background-color: #fff;
      background-position: center;
      background-repeat: no-repeat;
      cursor: pointer;
      outline: none;

      &--left {
        background-image: url("../images/arrow/arrow-1.svg");
      }

      &--right {
        background-image: url("../images/arrow/arrow-2.svg");
      }
    }
  }


  }

@media screen and (max-width: $tablet) {
  .content .slider {
    left: 49px;
    height: 478px;
  }
}
