@import "vars";

.header {
  position: relative;
  height: 800px;
  justify-content: center;
  background-color: #008aff;
  border-radius: 0  0  0 200px;
  overflow: hidden;

  &__container {
    max-width: 1146px;
    margin: 0 auto;
  }

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 120px;

  }

  &__logo {
    width: 44.82px;
    height: 25.63px;
  }

  &__hireus {
    position: relative;
    margin-left: 318px;
    white-space: nowrap;
    font-weight: bold;
    font-size: 13px;
    line-height: 150%;
    text-align: center;
    letter-spacing: 3px;
    padding-top: 5px;
    text-transform: uppercase;
  }

  &__hireus::after {
    content: "";
    position: absolute;
    left: 0;
    top: 28px;
    background-color: #ff9c8e;
    width: 67px;
    height: 2px;
    border-radius: 4px;
  }

  &__toggle_icon {
    display: none;
    position: absolute;
    width: 18px;
    height: 12px;
    background-image: url(../images/menu-icon.svg);
    cursor: pointer;
    transition: background-image 0.2s;
  }

  &__toggle_button {
    display: none;
  }
}
@media screen and(max-width: $tablet) {
  .header {
    height: 600px;
    &__container {
      margin: auto 100px;
    }
    &__hireus {
      margin-left: 59px;
    }
  }
}

@media (max-width: 750px) {
  .header__toggle_icon {
    display: block;
    position: absolute;
    right: 70px;
    top: 62px;
    transform: translateY(-50%);
    z-index: 1;
  }
}

@media (max-width: 750px) {
  &:checked ~ .nav {
    display: block;
    top: 0;
    bottom: 0;
    margin: -24px -20px 0;

    & .nav__link {
      position: absolute;
      animation: 0.4s anim-menu;

      @keyframes anim-menu {
        from {
          top: -200px;
        }
        to {
          top: 0;
        }
      }
    }
  }

  &:checked + .header__toggle_icon {
    width: 16px;
    height: 16px;
    background-image: url(../images/menu-close-icon.svg);
  }
}
