.info {
  max-width: 450px;

  &__title {
    margin-top: 120px;
    font-weight: 600;
    font-size: 64px;
    line-height: 68px;
    letter-spacing: -2px;
    color: #fff;
  }

  &__text {
    margin-top: 32px;
    margin-bottom: 0;
    width: 362px;
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    line-height: 150%;
    color: #fff;
  }
  &__button {
    margin-top: 56px;
    display: flex;
    justify-content: center;
    font-size: 15px;
    font-weight: 600;
    width: 226px;
    height: 50px;
    border-radius: 64px;
    border: none;
    color: #fff;
  }
}

@media screen and (max-width: $tablet) {
  .info__title {
    margin-top: 50px;
  }
}
