.nav {
  width: 760px;
  margin: 0 20px;

  &__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
    white-space: nowrap;
  }

  &__item {
    margin-left: 64px;
    font-weight: bold;
    font-size: 13px;
    line-height: 150%;
    text-align: center;
    letter-spacing: 3px;
    padding-top: 5px;

  }

  &__link {
    transition: color 0.8s;
    &:hover {
      color: #ff9c8e;
    }
  }
  &__item_hireus {
    padding-left: 318px;
  }
}

@media (max-width: 750px) {
  .nav__list {
    flex-direction: column;
    height: 200px;
    width: 300px;
  }

  .nav {
    display: none;
  }

  .nav__link {
    font-weight: bold;
    font-size: 22px;
    line-height: 22px;
    padding-bottom: 10px;
    padding-top: 10px;
  }
}
