.vpr {
  background: #fff;
  height: 691px;
  display: flex;
  justify-content: center;

  &__bg{
    display: flex;
    justify-content: center;
    width: 1450px;
    height: 546px;
    background-image: url(../images/vpr/Shapes.svg);
    background-repeat: no-repeat;
    background-size: contain;
    margin-top: 72px;
    margin-left: 82px;
    margin-right: 67px;


  }

  &__content {
    width: 715px;
    display: flex;
    flex-direction: column;
  }

  &__title {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 52px;
    line-height: 150%;
    color: #253757;
    text-align: center;
    margin-top: 127px;
    margin-bottom: 24px;
  }

  @media screen and (max-width: 750px) {
    &__title {
      font-size: 35px;
      margin-top: 15px;

    }

  }

  &__text {
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    font-size: 24px;
    line-height: 150%;
    text-align: center;
    color: #6c788b;
    margin-top: 0;
    margin-bottom: 79px;
  }

  &__button {
    width: 226px;
    height: 56px;
    margin: 0 auto;
    color: #fff;
  }
}

@media screen and (max-width: 750px) {
  .vpr {
    margin-bottom: -225px;
  }
}

