@import "utils";
@import "fonts";
@import "typography";
@import "header";
@import "nav";
@import "content";
@import "info";
@import "button";
@import "vars";
@import "section";
@import "about";
@import "expertise";
@import "process";
@import "approach";
@import "testimonials";
@import "vpr";


body,
ul {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

body {
  background: $c-gray;
}

a {
  color: #fff;
  text-decoration: none;
}

a:hover {
  color: #ff9c8e;
}

li {
  list-style: none;
}
