h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 400; }

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

.header {
  position: relative;
  height: 800px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #008aff;
  border-radius: 0  0  0 200px;
  overflow: hidden; }
  .header__container {
    max-width: 1146px;
    margin: 0 auto; }
  .header__top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 120px; }
  .header__logo {
    width: 44.82px;
    height: 25.63px; }
  @media screen and (max-width: 320px) {
    .header__logo {
      margin-left: -15px; } }
  .header__hireus {
    position: relative;
    margin-left: 318px;
    white-space: nowrap;
    font-weight: bold;
    font-size: 13px;
    line-height: 150%;
    text-align: center;
    letter-spacing: 3px;
    padding-top: 5px;
    text-transform: uppercase; }
  .header__hireus::after {
    content: "";
    position: absolute;
    left: 0;
    top: 28px;
    background-color: #ff9c8e;
    width: 67px;
    height: 2px;
    border-radius: 4px; }
  .header__toggle_icon {
    display: none;
    position: absolute;
    width: 18px;
    height: 12px;
    background-image: url(../images/menu-icon.svg);
    cursor: pointer;
    -webkit-transition: background-image 0.2s;
    transition: background-image 0.2s; }
  .header__toggle_button {
    display: none; }

@media screen and (max-width: 1024px) {
  .header {
    height: 600px; }
    .header__container {
      margin: auto 100px; }
    .header__hireus {
      margin-left: 59px; } }

@media (max-width: 750px) {
  .header__toggle_icon {
    display: block;
    position: absolute;
    right: 70px;
    top: 62px;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    z-index: 1; }
  .header__hireus {
    display: none; } }

@media (max-width: 750px) {
  :checked ~ .nav {
    display: block;
    top: 0;
    bottom: 0;
    margin: -24px -20px 0; }
    :checked ~ .nav .nav__list {
      position: absolute;
      -webkit-animation: 0.4s anim-menu;
              animation: 0.4s anim-menu; }
  @-webkit-keyframes anim-menu {
    from {
      top: -100px; }
    to {
      top: 0; } }
  @keyframes anim-menu {
    from {
      top: -100px; }
    to {
      top: 0; } }
  :checked + .header__toggle_icon {
    width: 16px;
    height: 16px;
    background-image: url(../images/menu-close-icon.svg); } }

.nav {
  width: 760px;
  margin: 0 20px; }
  .nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-transform: uppercase;
    white-space: nowrap; }
  .nav__item {
    margin-left: 64px;
    font-weight: bold;
    font-size: 13px;
    line-height: 150%;
    text-align: center;
    letter-spacing: 3px;
    padding-top: 5px; }
  .nav__link {
    -webkit-transition: color 0.8s;
    transition: color 0.8s; }
    .nav__link:hover {
      color: #ff9c8e; }
  .nav__item_hireus {
    padding-left: 318px; }

@media (max-width: 750px) {
  .nav__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 150px;
    width: 300px;
    margin-left: 75px; }
  .nav {
    display: none; }
  .nav__link {
    font-weight: bold;
    font-size: 12px;
    line-height: 12px; } }

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .content__info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
  .content__slider {
    position: absolute;
    bottom: 0;
    right: 0; }
  .content .slider {
    position: relative;
    top: 7px;
    left: 289px;
    width: 687px;
    height: 680px;
    background-image: url("../images/slider/slider-1.svg");
    background-position: center;
    background-size: cover;
    border-radius: 200px 0 0; }
    .content .slider__arrow {
      position: absolute;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      width: 72px;
      height: 32px;
      bottom: 66px;
      left: 48px; }
    .content .slider__intro {
      position: absolute;
      width: 250px;
      height: 68px;
      bottom: 48px;
      left: 144px; }
    .content .slider .intro__title {
      text-transform: uppercase;
      font-weight: bold;
      letter-spacing: 3px;
      margin: 0 0 8px;
      color: #fff; }
    .content .slider .intro__text {
      font-family: "Open Sans", sans-serif;
      font-size: 14px;
      line-height: 140%;
      color: #fff; }
    .content .slider .arrow__wrap {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      background-color: #fff;
      width: 32px;
      height: 32px;
      border-radius: 50%;
      cursor: pointer; }
    .content .slider .arrow__round-arrow {
      width: 6px;
      height: 9px;
      border: 0;
      background-color: #fff;
      background-position: center;
      background-repeat: no-repeat;
      cursor: pointer;
      outline: none; }
      .content .slider .arrow__round-arrow--left {
        background-image: url("../images/arrow/arrow-1.svg"); }
      .content .slider .arrow__round-arrow--right {
        background-image: url("../images/arrow/arrow-2.svg"); }

@media screen and (max-width: 1024px) {
  .content .slider {
    left: 49px;
    height: 478px; } }

@media screen and (max-width: 750px) {
  .content {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .content .slider {
    display: none; } }

.info {
  max-width: 450px; }
  .info__title {
    margin-top: 120px;
    font-weight: 600;
    font-size: 64px;
    line-height: 68px;
    letter-spacing: -2px;
    color: #fff; }
  .info__text {
    margin-top: 32px;
    margin-bottom: 0;
    width: 362px;
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    line-height: 150%;
    color: #fff; }
  .info__button {
    margin-top: 56px;
    color: #fff; }

@media screen and (max-width: 1024px) {
  .info__title {
    margin-top: 50px; } }

@media screen and (max-width: 750px) {
  .info__title {
    font-size: 50px;
    margin-top: 95px; }
  .info__button {
    margin-left: 60px; } }

@media screen and (max-width: 320px) {
  .info__title {
    font-size: 35px;
    margin-left: 59px; } }

.button {
  background: #ff9c8e;
  border-radius: 64px;
  width: 226px;
  font-size: 15px;
  font-weight: 600;
  height: 50px;
  -webkit-transition: 0.8s;
  transition: 0.8s;
  border-style: none;
  cursor: pointer;
  outline: none; }
  .button:hover {
    color: #ff9c8e;
    background: #fff;
    border: 1px solid #ff9c8e; }

.section {
  padding-left: 227px;
  padding-right: 227px; }

@media screen and (max-width: 750px) {
  .section {
    padding-left: 75px;
    padding-right: 75px; } }

@media screen and (max-width: 1024px) {
  .section {
    padding-left: 100px;
    padding-right: 100px; } }

.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .about__container {
    padding-top: 148px;
    padding-bottom: 148px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    max-width: 754px; }
  @media screen and (max-width: 750px) {
    .about__container {
      padding-top: 90px;
      padding-bottom: 90px; } }
  .about__title {
    margin-top: 0;
    margin-bottom: 10px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 32px;
    line-height: 150%;
    color: #253757; }
  .about__text {
    margin: 0;
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    font-size: 24px;
    line-height: 150%;
    color: #6c788b; }

.expertise {
  background-color: #fff; }
  .expertise__title {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 52px;
    line-height: 150%;
    text-align: center;
    color: #253757;
    padding-top: 128px;
    margin-bottom: 64px; }
  .expertise__products {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    padding-bottom: 134px; }
  @media screen and (max-width: 750px) {
    .expertise__products {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      padding-bottom: 75px; } }
  .expertise__product {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 264px; }
  @media screen and (max-width: 750px) {
    .expertise__product {
      width: 350px;
      padding-bottom: 60px; } }
  .expertise .product__img {
    height: 166px;
    width: 166px;
    border-radius: 25px;
    margin: 0 auto; }
  @media screen and (max-width: 750px) {
    .expertise .product__img {
      height: 250px;
      width: 250px; } }
  .expertise .product__name {
    text-align: center;
    font-weight: 600;
    font-size: 20px;
    line-height: 140%;
    font-family: "Poppins", sans-serif;
    color: #253757;
    margin-top: 40px;
    margin-bottom: 0; }
  @media screen and (max-width: 750px) {
    .expertise .product__name {
      font-size: 25px; } }
  .expertise .product__text {
    margin-top: 16px;
    text-align: center;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    line-height: 150%; }
  @media screen and (max-width: 750px) {
    .expertise .product__text {
      font-size: 17px; } }

.process {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 750px; }
  .process__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  @media screen and (max-width: 750px) {
    .process__container {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; } }
  .process__info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 362px; }
  @media screen and (max-width: 1024px) {
    .process__info {
      width: 125px; } }
  .process__info_heading {
    font-weight: bold;
    font-size: 13px;
    line-height: 19px;
    font-family: "Poppins", sans-serif;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #c0cdd7;
    margin-top: 250px;
    margin-bottom: 0; }
  @media screen and (max-width: 750px) {
    .process__info_heading {
      margin-top: 85px; } }
  .process__info_title {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 32px;
    line-height: 130%;
    color: #253757;
    margin-top: 16px;
    margin-bottom: 0; }
  .process__info_text {
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    line-height: 150%;
    color: #6c788b;
    margin-top: 24px; }
  .process .cards {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 226px;
    width: 558px;
    margin-top: 148px; }
    .process .cards__left {
      height: 558px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      margin-right: 30px;
      margin-top: 132px; }
    @media screen and (max-width: 750px) {
      .process .cards__left {
        margin-top: 0; } }
    .process .cards__right {
      height: 558px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between; }
    .process .cards .card {
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      width: 264px;
      height: 264px;
      padding: 32px;
      background: #fff;
      -webkit-box-shadow: 0 9px 18px rgba(37, 41, 49, 0.03);
              box-shadow: 0 9px 18px rgba(37, 41, 49, 0.03);
      border-radius: 24px; }
      .process .cards .card__number {
        width: 46px;
        height: 24px;
        border-radius: 23px;
        text-align: center;
        text-transform: uppercase;
        font-weight: 600;
        font-size: 13px;
        line-height: 24px;
        font-family: "Poppins", sans-serif; }
      .process .cards .card__number_first {
        background: rgba(86, 204, 242, 0.1);
        color: #56ccf2; }
      .process .cards .card__number_second {
        background: rgba(252, 201, 29, 0.1);
        color: #fcc91d; }
      .process .cards .card__number_third {
        background: rgba(21, 216, 80, 0.1);
        color: #15d850; }
      .process .cards .card__number_four {
        background: rgba(243, 99, 99, 0.1);
        color: #f36363; }
      .process .cards .card__text {
        font-family: "Open Sans", sans-serif;
        font-weight: 600;
        font-size: 13px;
        line-height: 150%;
        color: #6c788b;
        margin-top: 24px;
        margin-bottom: 32px; }
      .process .cards .card__links {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex; }
      .process .cards .card__icon {
        position: relative;
        width: 40px;
        height: 40px;
        border-radius: 50%; }
      .process .cards .card__icon_img {
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%); }
      .process .cards .card__icon--blue {
        background: #56ccf2; }
      .process .cards .card__icon--green {
        background: #15d850; }
      .process .cards .card__icon--yellow {
        background: #fcc91d; }
      .process .cards .card__icon--red {
        background: #f36363; }
      .process .cards .card__link {
        margin-left: 16px;
        margin-top: 10px;
        text-align: center;
        font-weight: 600;
        font-size: 15px;
        line-height: 22px;
        font-family: "Poppins", sans-serif;
        color: #334563; }
  @media screen and (max-width: 750px) {
    .process .cards {
      margin-top: 75px;
      margin-left: 0; } }

.approach {
  max-width: 1600px; }
  .approach__container {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end; }
  .approach__bg {
    width: 1479px;
    height: 976px;
    margin-left: 227px;
    background: #ff9c8e;
    position: absolute;
    z-index: -1;
    border-radius: 200px 0 0 200px; }
  @media screen and (max-width: 750px) {
    .approach__bg {
      width: 750px;
      margin-left: 75px; } }
  .approach__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 204px;
    margin-left: 204px; }
  .approach__info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 362px; }
  .approach__info_heading {
    margin-top: 0;
    margin-bottom: 16px;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #fff;
    font-weight: bold;
    font-size: 13px;
    line-height: 19px; }
  .approach__info_title {
    margin-top: 0;
    margin-bottom: -32px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 32px;
    line-height: 150%;
    color: #fff; }
  .approach__info_item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .approach .item {
    margin-top: 64px; }
    .approach .item__icon {
      position: relative;
      width: 64px;
      height: 64px;
      border-radius: 50%;
      background: #fff; }
    .approach .item__icon_img {
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%); }
    .approach .item__text {
      width: 264px;
      font-family: "Open Sans", sans-serif;
      font-size: 15px;
      line-height: 150%;
      color: #fff;
      margin: 0; }
  .approach__media {
    position: relative; }
  .approach__img {
    border-radius: 200px 0 0 0;
    width: 687px;
    height: 680px;
    position: absolute;
    bottom: -218px;
    right: 0; }
  @media screen and (max-width: 750px) {
    .approach__img {
      display: none; }
    .approach__content {
      margin-top: 285px;
      margin-left: 196px; } }
  @media screen and (max-width: 1024px) {
    .approach__content {
      margin-left: 375px; } }

.testimonials {
  margin: 1124px auto 0;
  max-width: 1600px; }
  .testimonials__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
  .testimonials__heading {
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    font-size: 13px;
    line-height: 19px;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #c0cdd7;
    margin-top: 0;
    margin-bottom: 16px; }
  .testimonials__title {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 32px;
    line-height: 150%;
    color: #253757;
    margin-bottom: 0; }
  .testimonials__people {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 85px;
    margin-bottom: 168px; }
  @media screen and (max-width: 750px) {
    .testimonials__container {
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
    .testimonials__people {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      margin-bottom: 75px; }
    .testimonials__heading {
      margin-top: -75px;
      margin-left: -250px; } }
  @media screen and (max-width: 1024px) {
    .testimonials__people {
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      -ms-flex-pack: distribute;
          justify-content: space-around; } }
  .testimonials .people__card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 314px;
    height: 494px;
    background: #fff;
    -webkit-box-shadow: 0 9px 18px rgba(37, 41, 49, 0.03);
            box-shadow: 0 9px 18px rgba(37, 41, 49, 0.03);
    border-radius: 24px; }
  @media screen and (max-width: 750px) {
    .testimonials .people__card {
      margin-bottom: 40px; } }
  @media screen and (max-width: 1024px) {
    .testimonials .people .people__card_third {
      margin-top: 50px; } }
  .testimonials .people__photo {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    padding: 87px;
    position: relative; }
  .testimonials .people__story {
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    font-size: 13px;
    line-height: 150%;
    text-align: center;
    color: #6c788b;
    margin-left: 32px;
    margin-right: 32px; }
  .testimonials .people__name {
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    font-size: 13px;
    line-height: 150%;
    text-align: center;
    color: #253757; }
  .testimonials .people__position {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #c0cdd7; }
  .testimonials .people__img {
    position: relative; }
  .testimonials .people__figure {
    position: absolute;
    width: 139px;
    height: 56px;
    border-radius: 500px;
    -webkit-transform: rotate(-60deg);
            transform: rotate(-60deg); }
  .testimonials .people .figure_first {
    top: 85px;
    left: 45px; }
  .testimonials .people .figure_second {
    top: 166px;
    right: 45px; }
  .testimonials .people .figure--blue {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.25)), to(rgba(255, 255, 255, 0))), #56ccf2;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0) 100%), #56ccf2; }
  .testimonials .people .figure--yellow {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.25)), to(rgba(255, 255, 255, 0))), #fcc304;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0) 100%), #fcc304; }
  .testimonials .people .figure--red {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.25)), to(rgba(255, 255, 255, 0))), #f25656;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0) 100%), #f25656; }
  .testimonials .quotes_img {
    position: absolute;
    width: 20.58px;
    height: 18.48px;
    top: 300px;
    left: 147px; }

.vpr {
  background: #fff;
  height: 691px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .vpr__bg {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 1450px;
    height: 546px;
    background-image: url(../images/vpr/Shapes.svg);
    background-repeat: no-repeat;
    background-size: contain;
    margin-top: 72px;
    margin-left: 82px;
    margin-right: 67px; }
  .vpr__content {
    width: 715px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
  .vpr__title {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 52px;
    line-height: 150%;
    color: #253757;
    text-align: center;
    margin-top: 127px;
    margin-bottom: 24px; }
  @media screen and (max-width: 750px) {
    .vpr__title {
      font-size: 35px;
      margin-top: 15px; } }
  .vpr__text {
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    font-size: 24px;
    line-height: 150%;
    text-align: center;
    color: #6c788b;
    margin-top: 0;
    margin-bottom: 79px; }
  .vpr__button {
    width: 226px;
    height: 56px;
    margin: 0 auto;
    color: #fff; }

@media screen and (max-width: 750px) {
  .vpr {
    margin-bottom: -225px; } }

.footer {
  background-color: #fff; }
  .footer__bg {
    width: 100%;
    height: 867px;
    background-color: #008aff;
    border-radius: 0 200px 0 0; }
  .footer__container {
    padding-top: 180px;
    padding-left: 227px;
    padding-right: 227px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
  @media screen and (max-width: 750px) {
    .footer__bg {
      height: 450px; }
    .footer__container {
      padding-top: 50px;
      padding-left: 153px; } }
  .footer__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .footer__bottom_container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .footer__bottom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 990px;
    margin: 70px auto; }
  @media screen and (max-width: 750px) {
    .footer__bottom {
      width: 0;
      margin: 18px auto; } }
  .footer .content__message {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
  .footer .content__message_title {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 32px;
    line-height: 150%;
    color: #fff;
    margin-top: 0;
    margin-bottom: 56px; }
  @media screen and (max-width: 750px) {
    .footer .content__message_title {
      font-size: 17px;
      margin-bottom: 25px; } }
  .footer .content__form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-right: 226px; }
  .footer .content .input {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.7);
    color: #fff;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 15px;
    line-height: 22px;
    outline: none;
    width: 460px;
    padding: 16px 0;
    margin-bottom: 42px; }
    .footer .content .input::-webkit-input-placeholder {
      color: #fff;
      opacity: 0.7; }
    .footer .content .input::-moz-placeholder {
      color: #fff;
      opacity: 0.7; }
    .footer .content .input:-ms-input-placeholder {
      color: #fff;
      opacity: 0.7; }
    .footer .content .input::-ms-input-placeholder {
      color: #fff;
      opacity: 0.7; }
    .footer .content .input::placeholder {
      color: #fff;
      opacity: 0.7; }
    .footer .content .input:focus {
      border-bottom: 2px #fff solid;
      opacity: 1; }
  @media screen and (max-width: 750px) {
    .footer .content .input {
      width: 220px;
      font-size: 13px;
      line-height: 13px;
      padding: 0;
      margin-bottom: 25px; }
    .footer .content__form {
      margin-right: 150px; } }
  .footer .content .form__button {
    margin: 38px 0;
    color: #fff; }
    .footer .content .form__button:hover {
      color: #ff9c8e;
      border: 1px solid #ff9c8e; }
  .footer .content .contact__title {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 32px;
    line-height: 150%;
    color: #fff;
    margin-top: 0;
    margin-bottom: 56px; }
  .footer .content .contact__phone_title {
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    font-size: 13px;
    line-height: 19px;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #fff;
    opacity: 0.5;
    padding-top: 16px;
    margin-bottom: 0; }
  .footer .content .contact__phone_number {
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 150%;
    color: #fff;
    margin-top: 8px; }
  .footer .content .contact__visit_title {
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    font-size: 13px;
    line-height: 19px;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #fff;
    opacity: 0.5;
    padding-top: 16px;
    margin-bottom: 0; }
  .footer .content .contact__visit_adress {
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 150%;
    color: #fff; }
  .footer .content .contact__socials_title {
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    font-size: 13px;
    line-height: 19px;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #fff;
    opacity: 0.5; }
  @media screen and (max-width: 750px) {
    .footer .content .contact__title {
      font-size: 17px;
      margin-bottom: 25px;
      white-space: nowrap; }
    .footer .content .contact__phone_title, .footer .content .contact__visit_title {
      padding-top: 0;
      font-size: 9px; }
    .footer .content .contact__phone_number, .footer .content .contact__visit_adress {
      font-size: 15px; } }

.nav__item {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 13px;
  letter-spacing: 3px; }
  .nav__item .nav__link {
    -webkit-transition: color 0.3s;
    transition: color 0.3s; }
  .nav__item .nav__link:hover {
    color: #ff9c8e; }

body,
ul {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif; }

body {
  background: #eee; }

a {
  color: #fff;
  text-decoration: none; }

a:hover {
  color: #ff9c8e; }

li {
  list-style: none; }

/*# sourceMappingURL=main.css.map */
