h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 400; }

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

.header {
  position: relative;
  height: 800px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #008aff;
  border-radius: 0  0  0 200px;
  overflow: hidden; }
  .header__container {
    max-width: 1146px;
    margin: 0 auto; }
  .header__top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 120px; }
  .header__logo {
    width: 44.82px;
    height: 25.63px; }
  .header__hireus {
    position: relative;
    margin-left: 318px;
    white-space: nowrap;
    font-weight: bold;
    font-size: 13px;
    line-height: 150%;
    text-align: center;
    letter-spacing: 3px;
    padding-top: 5px;
    text-transform: uppercase; }
  .header__hireus::after {
    content: "";
    position: absolute;
    left: 0;
    top: 28px;
    background-color: #ff9c8e;
    width: 67px;
    height: 2px;
    border-radius: 4px; }
  .header__toggle_icon {
    display: none;
    position: absolute;
    width: 18px;
    height: 12px;
    background-image: url(../images/menu-icon.svg);
    cursor: pointer;
    -webkit-transition: background-image 0.2s;
    transition: background-image 0.2s; }
  .header__toggle_button {
    display: none; }

@media screen and (max-width: 1024px) {
  .header {
    height: 600px; }
    .header__container {
      margin: auto 100px; }
    .header__hireus {
      margin-left: 59px; } }

@media (max-width: 750px) {
  :checked ~ .nav {
    display: block;
    top: 0;
    bottom: 0;
    margin: -24px -20px 0; }
    :checked ~ .nav .nav__list {
      position: absolute;
      -webkit-animation: 0.8s anim-menu;
              animation: 0.8s anim-menu; }
  @-webkit-keyframes anim-menu {
    from {
      left: -200px; }
    to {
      left: 0; } }
  @keyframes anim-menu {
    from {
      left: -200px; }
    to {
      left: 0; } }
  :checked + .header__toggle_icon {
    width: 16px;
    height: 16px;
    background-image: url(../images/menu-close-icon.svg); } }

@media (max-width: 750px) {
  .header__toggle_icon {
    display: block;
    position: absolute;
    right: 50px;
    top: 45px;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    z-index: 1; }
  .header__link {
    display: none; } }

.nav {
  width: 760px;
  margin: 0 20px; }
  .nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-transform: uppercase;
    white-space: nowrap; }
  .nav__item {
    margin-left: 64px;
    font-weight: bold;
    font-size: 13px;
    line-height: 150%;
    text-align: center;
    letter-spacing: 3px;
    padding-top: 5px; }
  .nav__link {
    -webkit-transition: color 0.8s;
    transition: color 0.8s; }
    .nav__link:hover {
      color: #ff9c8e; }
  .nav__item_hireus {
    padding-left: 318px; }

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .content__info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
  .content__slider {
    position: absolute;
    bottom: 0;
    right: 0; }
  .content .slider {
    position: relative;
    top: 7px;
    left: 289px;
    width: 687px;
    height: 680px;
    background-image: url("../images/slider/slider-1.svg");
    background-position: center;
    background-size: cover;
    border-radius: 200px 0 0; }

@media screen and (max-width: 1024px) {
  .content .slider {
    left: 49px;
    height: 478px; } }

.info {
  max-width: 450px; }
  .info__title {
    margin-top: 120px;
    font-weight: 600;
    font-size: 64px;
    line-height: 68px;
    letter-spacing: -2px;
    color: #fff; }
  .info__text {
    margin-top: 32px;
    margin-bottom: 0;
    width: 362px;
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    line-height: 150%;
    color: #fff; }
  .info__button {
    margin-top: 56px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-size: 15px;
    font-weight: 600;
    width: 226px;
    height: 50px;
    border-radius: 64px;
    border: none;
    color: #fff; }

@media screen and (max-width: 1024px) {
  .info__title {
    margin-top: 50px; } }

.button {
  background: #ff9c8e;
  border-radius: 64px;
  width: 226px;
  -webkit-transition: 0.8s;
  transition: 0.8s; }
  .button:hover {
    background: #fff; }

.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .about__container {
    padding-top: 148px;
    padding-bottom: 148px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    max-width: 754px; }
  .about__title {
    margin-top: 0;
    margin-bottom: 10px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 32px;
    line-height: 150%;
    color: #253757; }
  .about__text {
    margin: 0;
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    font-size: 24px;
    line-height: 150%;
    color: #6c788b; }

.expertise {
  background-color: #fff; }
  .expertise__title {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 52px;
    line-height: 150%;
    text-align: center;
    color: #253757;
    padding-top: 128px;
    margin-bottom: 64px; }
  .expertise__products {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    padding-bottom: 134px; }
  .expertise__product {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 264px; }
  .expertise .product__img {
    height: 166px;
    width: 166px;
    border-radius: 25px;
    margin: 0 auto; }
  .expertise .product__name {
    text-align: center;
    font-weight: 600;
    font-size: 20px;
    line-height: 140%;
    font-family: "Poppins", sans-serif;
    color: #253757;
    margin-top: 40px;
    margin-bottom: 0; }
  .expertise .product__text {
    margin-top: 16px;
    text-align: center;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    line-height: 150%; }

body,
ul {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif; }

body {
  background: #eee; }

a {
  color: #fff;
  text-decoration: none; }

a:hover {
  color: #ff9c8e; }

li {
  list-style: none; }

/*# sourceMappingURL=main.css.map */
